{% extends 'pages/base.html' %}

{% load staticfiles %}

{# Override defaults in base template #}
{% block banner_prelim %}Hey, I'm{% endblock banner_prelim %}
{% block banner_header %}Chris Kane{% endblock banner_header %}
{% block banner_postlim %}A coffee fuelled adventurer, photographer, reader, globetrotter, and software developer based in Belfast, Northern Ireland.{% endblock banner_postlim %}
{% block banner_image %}{% static 'pages/images/fulls/me.jpg' %}{% endblock banner_image %}

{# Provide page content, completing base template extension #}
{% block content %}

    {# Ongoing Work #}
    <section class="wrapper style1 align-center gray">
        <div class="inner">
            <h2>Ongoing Work</h2>
            <p>An insight into my current projects, endeavours, articles, and adventures.</p>
            <div class="items style3 medium onload-fade-in">
                <section>
                    <a href="https://github.com/zeroish/qwiz" class="image fit icon fa-code"><img src="{% static 'pages/images/thumbs/qwiz.jpg' %}" alt="" /></a>
                    <h3>Qwiz</h3>
                    <p>An open source quiz engine powered by Angular, Django and Heroku. Craft quizes with a personal touch for your family and friends (and in-laws).</p>
                </section>
                <section>
                    <a href="https://github.com/christopherkane/mysite" class="image fit icon fa-code"><img src="{% static 'pages/images/thumbs/me.jpg' %}" alt="" /></a>
                    <h3>My Personal Website</h3>
                    <p>My simple static personal website, powered by Django. Why? Batteries are included! And who says this website will remain simple and static? With a wealth of high quality third party batteries, this website has room to grow.</p>
                </section>
            </div>
        </div>
    </section>

    {# Recent Work #}
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>Recent Work</h2>
            <p>A treasure trove of recent projects, and articles.</p>
            <div class="items style3 medium onload-fade-in">
                <section>
                    <a href="https://play.google.com/store/apps/details?id=com.candycane.spacepenguin" class="image fit icon fa-code"><img src="{% static 'pages/images/thumbs/space_penguin.jpg' %}" alt="" /></a>
                    <h3>Space Penguin</h3>
                    <p>A tough-as-nails side-scrolling Android game. Crafted with libGDX, in Java, with a generous helping of TLC.</p>
                </section>
                <section>
                    <a href="http://pure.qub.ac.uk/portal/files/13871005/OperationCheckpoint.pdf" class="image fit icon fa-sitemap"><img src="{% static 'pages/images/thumbs/operation_checkpoint.jpg' %}" alt="" /></a>
                    <h3>Operation Checkpoint</h3>
                    <p>My thesis. This publication proproses, and demonstrates, an approach to secure the northbound interface in a Software Defined Network.</p>
                </section>
            </div>
        </div>
    </section>

    {# Get in touch #}
    <section class="wrapper style1 align-center" id="contact">
        <div class="inner medium">
            <h2>Get in touch</h2>
            <form method="post" action="{% url 'pages:contact' %}">
                {% csrf_token %}
                <div class="field half first">
                    <label for="name">Name</label>
                    {{ form.contact_name }}
                    {% for error in form.contact_name.errors %}
                        <p class="error"><i>{{ error }}</i></p>
                    {% endfor %}
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    {{ form.contact_email }}
                    {% for error in form.contact_email.errors %}
                        <p class="error"><i>{{ error }}</i></p>
                    {% endfor %}
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    {{ form.content }}
                    {% for error in form.content.errors %}
                        <p class="error"><i>{{ error }}</i></p>
                    {% endfor %}
                </div>
                <ul class="actions">
                    <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                </ul>
            </form>
        </div>
    </section>

{% endblock content %}
